/* For Tablet viewports */
@media screen and (max-width: 992px) {
    #home img {
        width: 300px;
        height: auto;
    }

    .modal-body img {
        width: 500px;
    }

    #footer .social-links {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .navbar-nav {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #home .row {
        justify-content: center;
        align-items: center;
    }

    #home .home-left {
        text-align: left;
    }

    #home .home-right {
        text-align: center;
    }

    #home img {
        width: 340px;
        height: 200px;
    }

    #priorities .row {
        justify-content: center;
    }

    #priorities .card {
        width: 100%;
        height: auto;
    }

    .modal-body img {
        width: 300px;
    }

    #home h1, #priorities h1, #activities h1 {
        font-size: 40px;
    }

    #home .top-home-content-holder {
        display: none;
    }

    #home .bottom-home-content-holder { 
    display: block;
    }

    #footer {
        height: auto;
    }

    #footer h1, #footer li {
        text-align: left;
    }

    #footer .social-links {
        justify-content: start;
    }

    #footer .social-links-holder {
        justify-content: flex-start;
    }

    #footer .social-links-holder li {
        margin-right: 10px;
    }

    #about {
        height: auto;
    }
}
